<!DOCTYPE html>
<html>
<head><meta charset="utf-8"><title>{% block title %}Olympus notification{% endblock %}</title></head>
<body>
{% block content %}{% endblock %}
<p><a href="{{ unsubscribe_url }}">Unsubscribe or manage notifications</a></p>
</body>
</html>
